    <!--==========================
      Our Team Section
    ============================-->
    <section id="team" class="wow fadeInUp">
      <div class="container">
        <div class="section-header">
          <h2>{{ team }}</h2>
        </div>
        <div class="row" >
          <div class="col-lg-3 col-md-6" *ngFor="let member of teamMembers">
            <div class="member">
              <div class="pic"><img src="{{ member.image}}" alt=""></div>
              <div class="details">
                <h4>{{ member.name}}</h4>
                <span>{{ member.position}}</span>
                <div class="social">
                  <a href="{{ member.twitterLink}}"><i class="fa fa-twitter"></i></a>
                  <a href="{{ member.facebookLink}}"><i class="fa fa-facebook"></i></a>
                  <a href="{{ member.googlePlusLink}}"><i class="fa fa-google-plus"></i></a>
                  <a href="{{ member.linkedinLink}}"><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- #team -->

