<!--==========================
  Testimonials Section
============================-->
<section id="testimonials" class="wow fadeInUp">
  <div class="container">
    <div class="section-header">
      <h2>{{ testimonials }}</h2>
      <p>{{ testimonialsDesription}}</p>
    </div>
    <div class="owl-carousel testimonials-carousel">
      <div class="testimonial-item" *ngFor="let testimonialItems of testimonialsMembers">
        <p>
          <img src="{{ quoteLeft}}" class="quote-sign-left" alt="">
          {{testimonialItems.speaks}}
          <img src="{{ quoteRight}}" class="quote-sign-right" alt="">
        </p>
        <img src="{{testimonialItems.image}}" class="testimonial-img" alt="">
        <h3>{{testimonialItems.name}}</h3>
        <h4>{{testimonialItems.position}}</h4>
      </div>
    </div>
  </div>
</section><!-- #testimonials -->

