<!--==========================
   About Section
 ============================-->
<section id="about" class="wow fadeInUp">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 about-img">
        <img src="../../assets/img/about-img.jpg" alt="">
      </div>

      <div class="col-lg-6 content">
        <h2>{{companyName}}</h2>
        <h3>{{companyDescription}}</h3>

        <ul>
          <li *ngFor="let description of shortDescription"><i class="ion-android-checkmark-circle"></i> {{ description
            }}
          </li>
        </ul>

      </div>
    </div>

  </div>
</section><!-- #about -->

<!--==========================
  Services Section
============================-->
<section id="services">
  <div class="container">
    <div class="section-header">
      <h2>Services</h2>
      <p>Designplus Technology Est in 2018 had the main vision TO PROVIDE COMMITTED and QUALITY STAFFING AND PROJECTS
        SERVICES TO CLIENTS IN CAD/CAM/PDM/PLM TECHNOLOGY. The company differentiates itself on its many services,
        technical capabilities, extensive knowledge of its key markets and the long term strategic relationships it has
        with its clients. In past 5 years, PDEPL have successfully supported the clients and provided the best for their
        specific requirements.</p>
    </div>

    <div class="row">

      <div class="col-lg-6">
        <div class="box wow fadeInLeft">
          <div class="icon"><i class="fa fa-bar-chart"></i></div>
          <h4 class="title"><a href="">CATIA</a></h4>
          <p class="description">Our methodology is based on simple principles, we owes its growth and success to its
            CAD/CAM/CAE Engineers and their continued efforts to see the JOB-DONE to the satisfaction of the
            Clients/Customers. All our team respect one others ideas and undergo regular updations.</p>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="box wow fadeInRight">
          <div class="icon"><i class="fa fa-picture-o"></i></div>
          <h4 class="title"><a href="">Automotive Design</a></h4>
          <p class="description">Our methodology is based on simple principles, we owes its growth and success to its
            CAD/CAM/CAE Engineers and their continued efforts to see the JOB-DONE to the satisfaction of the
            Clients/Customers. All our team respect one others ideas and undergo regular updations.</p>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="box wow fadeInLeft" data-wow-delay="0.2s">
          <div class="icon"><i class="fa fa-shopping-bag"></i></div>
          <h4 class="title"><a href="">Staffing</a></h4>
          <p class="description">Our methodology is based on simple principles, we owes its growth and success to its
            CAD/CAM/CAE Engineers and their continued efforts to see the JOB-DONE to the satisfaction of the
            Clients/Customers. All our team respect one others ideas and undergo regular updations.</p>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="box wow fadeInRight" data-wow-delay="0.2s">
          <div class="icon"><i class="fa fa-map"></i></div>
          <h4 class="title"><a href=""> Engineering</a></h4>
          <p class="description">Our methodology is based on simple principles, we owes its growth and success to its
            CAD/CAM/CAE Engineers and their continued efforts to see the JOB-DONE to the satisfaction of the
            Clients/Customers. All our team respect one others ideas and undergo regular updations.</p>
        </div>
      </div>

    </div>

  </div>
</section><!-- #services -->

<!--==========================
  Clients Section
============================-->
<section id="clients" class="wow fadeInUp">
  <div class="container">
    <div class="section-header">
      <h2>{{client}}</h2>
      <p>{{clientsDescription}}</p>
    </div>

    <div class="owl-carousel clients-carousel">
      <img  *ngFor="let clientImage of allClients" src="{{clientImage}}" alt="">
    </div>

  </div>
</section><!-- #clients -->

<!--==========================
  Our Portfolio Section
============================-->
<section id="portfolio" class="wow fadeInUp">
  <div class="container">
    <div class="section-header">
      <h2>{{portfolio}}</h2>
      <p>{{portfolioDescription}}</p>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row no-gutters">

      <div class="col-lg-3 col-md-4" *ngFor="let folioItems of portfolioItems">
        <div class="portfolio-item wow fadeInUp">
          <a href="{{folioItems.portfolioImage}}" class="portfolio-popup">
            <img src="{{folioItems.portfolioImage}}" alt="">
            <div class="portfolio-overlay">
              <div class="portfolio-info"><h2 class="wow fadeInUp">{{folioItems.portfolioItem}}</h2></div>
            </div>
          </a>
        </div>
      </div>
    </div>

  </div>
</section><!-- #portfolio -->

