   <!--==========================
      About Section
    ============================-->
    <section id="about" class="wow fadeInUp">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 about-img">
            <img src="../../assets/img/about-img.jpg" alt="">
          </div>

          <div class="col-lg-6 content">
            <h2>Designplus Technology</h2>
            <h3>Short Description</h3>

            <ul>
              <li><i class="ion-android-checkmark-circle"></i> Est in 2018 has the main vision To Provide Quality STRATEGIC STAFFING/PROJECT SERVICES to Clinets in CAD/CAM/PDM/PLM Technologies.</li>
              <li><i class="ion-android-checkmark-circle"></i> Creating INDUSTYR READY TALENT POOL (Work Ready Force) through COMPETENCY DEVELOPMENT PROGRAMS.</li>
              <li><i class="ion-android-checkmark-circle"></i>  bridge competence gaps between the academic environment and the industry requirements.</li>
            </ul>

          </div>
        </div>

      </div>
    </section><!-- #about -->

    <!--==========================
      Services Section
    ============================-->
    <section id="services">
      <div class="container">
        <div class="section-header">
          <h2>Services</h2>
          <p>Designplus Technology Est in 2018 had the main vision TO PROVIDE COMMITTED and QUALITY STAFFING AND PROJECTS SERVICES TO CLIENTS IN CAD/CAM/PDM/PLM TECHNOLOGY. The company differentiates itself on its many services, technical capabilities, extensive knowledge of its key markets and the long term strategic relationships it has with its clients. In past 5 years, PDEPL have successfully supported the clients and provided the best for their specific requirements.</p>
        </div>

        <div class="row">

          <div class="col-lg-6">
            <div class="box wow fadeInLeft">
              <div class="icon"><i class="fa fa-bar-chart"></i></div>
              <h4 class="title"><a href="">CATIA</a></h4>
              <p class="description">Our methodology is based on simple principles, we owes its growth and success to its CAD/CAM/CAE Engineers and their continued efforts to see the JOB-DONE to the satisfaction of the Clients/Customers. All our team respect one others ideas and undergo regular updations.</p>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="box wow fadeInRight">
              <div class="icon"><i class="fa fa-picture-o"></i></div>
              <h4 class="title"><a href="">Automotive Design</a></h4>
              <p class="description">Our methodology is based on simple principles, we owes its growth and success to its CAD/CAM/CAE Engineers and their continued efforts to see the JOB-DONE to the satisfaction of the Clients/Customers. All our team respect one others ideas and undergo regular updations.</p>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="box wow fadeInLeft" data-wow-delay="0.2s">
              <div class="icon"><i class="fa fa-shopping-bag"></i></div>
              <h4 class="title"><a href="">Staffing</a></h4>
              <p class="description">Our methodology is based on simple principles, we owes its growth and success to its CAD/CAM/CAE Engineers and their continued efforts to see the JOB-DONE to the satisfaction of the Clients/Customers. All our team respect one others ideas and undergo regular updations.</p>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="box wow fadeInRight" data-wow-delay="0.2s">
              <div class="icon"><i class="fa fa-map"></i></div>
              <h4 class="title"><a href=""> Engineering</a></h4>
              <p class="description">Our methodology is based on simple principles, we owes its growth and success to its CAD/CAM/CAE Engineers and their continued efforts to see the JOB-DONE to the satisfaction of the Clients/Customers. All our team respect one others ideas and undergo regular updations.</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #services -->

    <!--==========================
      Clients Section
    ============================-->
    <section id="clients" class="wow fadeInUp">
      <div class="container">
        <div class="section-header">
          <h2>Clients</h2>
          <p>Designplus has been chosen as ‘The Best Support Partner’ by one one of our Pune based European clients. As company’s industry ready design engineers provided them highly flexible solution for mission critical requirements that had to meet strict time constraints.</p>
        </div>

        <div class="owl-carousel clients-carousel">
          <img src="../../assets/img/clients/client-1.png" alt="">
          <img src="../../assets/img/clients/client-2.png" alt="">
          <img src="../../assets/img/clients/client-3.png" alt="">
          <img src="../../assets/img/clients/client-4.png" alt="">
          <img src="../../assets/img/clients/client-5.png" alt="">
          <img src="../../assets/img/clients/client-6.png" alt="">
          <img src="../../assets/img/clients/client-7.png" alt="">
          <img src="../../assets/img/clients/client-8.png" alt="">
        </div>

      </div>
    </section><!-- #clients -->

    <!--==========================
      Our Portfolio Section
    ============================-->
    <section id="portfolio" class="wow fadeInUp">
      <div class="container">
        <div class="section-header">
          <h2>Our Portfolio</h2>
          <p>Any Project Description which you want to show to the end customers</p>
        </div>
      </div>

      <div class="container-fluid">
        <div class="row no-gutters">

          <div class="col-lg-3 col-md-4">
            <div class="portfolio-item wow fadeInUp">
              <a href="../../assets/img/portfolio/1.jpg" class="portfolio-popup">
                <img src="../../assets/img/portfolio/1.jpg" alt="">
                <div class="portfolio-overlay">
                  <div class="portfolio-info"><h2 class="wow fadeInUp">Portfolio Item 1</h2></div>
                </div>
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="portfolio-item wow fadeInUp">
              <a href="../../assets/img/portfolio/2.jpg" class="portfolio-popup">
                <img src="../../assets/img/portfolio/2.jpg" alt="">
                <div class="portfolio-overlay">
                  <div class="portfolio-info"><h2 class="wow fadeInUp">Portfolio Item 2</h2></div>
                </div>
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="portfolio-item wow fadeInUp">
              <a href="../../assets/img/portfolio/3.jpg" class="portfolio-popup">
                <img src="../../assets/img/portfolio/3.jpg" alt="">
                <div class="portfolio-overlay">
                  <div class="portfolio-info"><h2 class="wow fadeInUp">Portfolio Item 3</h2></div>
                </div>
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="portfolio-item wow fadeInUp">
              <a href="../../assets/img/portfolio/4.jpg" class="portfolio-popup">
                <img src="../../assets/img/portfolio/4.jpg" alt="">
                <div class="portfolio-overlay">
                  <div class="portfolio-info"><h2 class="wow fadeInUp">Portfolio Item 4</h2></div>
                </div>
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="portfolio-item wow fadeInUp">
              <a href="../../assets/img/portfolio/5.jpg" class="portfolio-popup">
                <img src="../../assets/img/portfolio/5.jpg" alt="">
                <div class="portfolio-overlay">
                  <div class="portfolio-info"><h2 class="wow fadeInUp">Portfolio Item 5</h2></div>
                </div>
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="portfolio-item wow fadeInUp">
              <a href="../../assets/img/portfolio/6.jpg" class="portfolio-popup">
                <img src="../../assets/img/portfolio/6.jpg" alt="">
                <div class="portfolio-overlay">
                  <div class="portfolio-info"><h2 class="wow fadeInUp">Portfolio Item 6</h2></div>
                </div>
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="portfolio-item wow fadeInUp">
              <a href="../../assets/img/portfolio/7.jpg" class="portfolio-popup">
                <img src="../../assets/img/portfolio/7.jpg" alt="">
                <div class="portfolio-overlay">
                  <div class="portfolio-info"><h2 class="wow fadeInUp">Portfolio Item 7</h2></div>
                </div>
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="portfolio-item wow fadeInUp">
              <a href="../../assets/img/portfolio/8.jpg" class="portfolio-popup">
                <img src="../../assets/img/portfolio/8.jpg" alt="">
                <div class="portfolio-overlay">
                  <div class="portfolio-info"><h2 class="wow fadeInUp">Portfolio Item 8</h2></div>
                </div>
              </a>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #portfolio -->

